@use "common" as *;

.stApp {
  textarea,
  input {
    font-size: rem(14px);
    padding: 1rem;
  }

  textarea::placeholder,
  input::placeholder {
    color: $text-placeholder;
  }

  .stNumberInput {
    button {
      background: $layer-01;
      &:hover,
      &:active,
      &:focus {
        background-color: $background-inverse;
      }
    }
    .focused {
      border-color: $border-subtle-01;
    }
  }

  .stTextArea,
  .stTextInput {
    label * {
      font-size: 0.75rem;
      color: $text-secondary;
    }
  }
}

[data-testid="stWidgetLabel"] p {
  font-size: 0.75rem;
}

.stCheckbox [data-testid="stWidgetLabel"] p,
.stRadio [role="radiogroup"] p {
  font-size: 0.875rem;
}

[data-baseweb="textarea"],
[data-baseweb="textarea"] > div,
.stTextInput:not([type="checkbox"]) [data-baseweb="input"],
.stTextInput:not([type="checkbox"]) [data-baseweb="input"] > div,
.stDateInput [data-baseweb="input"],
.stDateInput [data-baseweb="input"] > div,
.stNumberInput [data-baseweb="input"],
.stNumberInput [data-baseweb="input"] > div,
[data-baseweb="select"],
[data-baseweb="select"] > div {
  background: transparent;
}

[data-baseweb="checkbox"] > span:has(+ [aria-checked="true"]),
[data-baseweb="radio"]:has(input:checked) > div:first-child {
  background-color: var(--cds-text-primary);
  border-color: var(--cds-border-subtle-00);
}

.stTextArea *,
[data-baseweb="input"],
[data-baseweb="select"] > *,
[data-testid="stNumberInputContainer"] {
  border-color: var(--cds-border-subtle-00);
}

button[kind="primary"],
button[kind="secondary"] {
  display: flex;
  padding-block: 0;
  padding-inline: $spacing-04 $spacing-08;
  block-size: rem(48px);
  align-items: center;
  border-radius: $block-radius;
  background: var(--cds-button);
  color: $text-inverse;
  border: 1px solid transparent;
  font-size: rem(14px);
  transition: background-color $duration-fast-02 motion(standard, productive)
    color $duration-fast-02 motion(standard, productive);

  &:hover,
  &:active,
  &:focus,
  &:focus:not(:active) {
    background: var(--cds-button-hover);
    color: $text-inverse;
    border-color: transparent;
  }

  &[kind="secondary"] {
    background: $background-inverse;
    color: $text-inverse;

    &:hover,
    &:active,
    &:focus {
      background: var(--cds-button-secondary-hover);
      color: $text-inverse;
      border-color: transparent;
    }
  }
}
